<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="javascripts/tomtomSDK/map.css" />

    <div class="row container">
        <form class="col s12 jointRegisterForm" action="/api/registerUsers" method="post">
            <div class="row">
                <div class="col s6 center-align">
                    <h3>User 1</h3>
                </div>
                <div class="col s6 center-align">
                    <h3>User 2</h3>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 registerFields">
                    <input id="name1" type="text" class="validate" name="name1" value="Soham">
                    <label for="name1">Name</label>
                </div>
                <div class="input-field col s6 registerFields">
                    <input id="name2" type="text" class="validate" name="name2" value="Kaushik">
                    <label for="name2">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 registerFields">
                    <input id="email1" type="email" class="validate" name="email1" value="soham@email.com">
                    <label for="email1">Email</label>
                </div>
                <div class="input-field col s6 registerFields">
                    <input id="email2" type="email" class="validate" name="email2" value="kaushik@email.com">
                    <label for="email2">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 registerFields">
                    <input id="password1" type="password" class="validate" name="password1" value="spassword">
                    <label for="password1">Password</label>
                </div>
                <div class="input-field col s6 registerFields">
                    <input id="password2" type="password" class="validate" name="password2" value="kpassword">
                    <label for="password2">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 registerFields">
                    <input id="confirmPassword1" type="password" class="validate" name="confirmPassword1" value="spassword">
                    <label for="confirmPassword1">Confirm Password</label>
                </div>
                <div class="input-field col s6 registerFields">
                    <input id="confirmPassword2" type="password" class="validate" name="confirmPassword2" value="kpassword">
                    <label for="confirmPassword2">Confirm Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 registerFields">
                    <input id="accountNumber1" type="text" class="validate" name="accountNumber1" value="5105105105105100">
                    <label for="accountNumber1">Account Number</label>
                </div>
                <div class="input-field col s6 registerFields">
                    <input id="accountNumber2" type="text" class="validate" name="accountNumber2" value="6011000990139424">
                    <label for="accountNumber2">Account Number</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 registerFields">
                    <input id="address1" type="text" class="validate" name="address1" value="Fremont, CA">
                    <label for="address1">Address</label>
                </div>
                <div class="input-field col s6 registerFields">
                    <input id="address2" type="text" class="validate" name="address2" value="Oakland, CA">
                    <label for="address2">Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 registerFields">
                    <input id="buffer1" type="text" class="validate" name="buffer1" value="5">
                    <label for="buffer1">Buffer</label>
                </div>
                <div class="input-field col s6 registerFields">
                    <input id="buffer2" type="text" class="validate" name="buffer2" value="5">
                    <label for="buffer2">Buffer</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div id="map1"></div>
                </div>
                <div class="col s6">
                    <div id="map2"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s6 right-align">
                    <a class="waves-effect waves-light btn blue">Register Yubikeys</a>
                </div>
                <div class="col s6 left-align">
                    <button class="btn waves-effect waves-light registerSubmit" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    
    <% include ../partials/footer %>
