<% include ../partials/header %>

    <div class="container">
        <div class="row registerOptions">
            <div class="col s6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center-align">Single Ownership Bank Account</span>
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action center-align">
                        <a class="waves-effect waves-light btn" href="#">Register</a>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center-align">Joint Ownership Bank Account</span>
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action center-align">
                        <a class="waves-effect waves-light btn" href="/jointRegister">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <% include ../partials/footer %>
